# Project dependencies
Django
psycopg2-binary
python-dotenv
django-crispy-forms
crispy-bootstrap5
django-storages[azure]
azure-identity
azure-storage-blob
Pillow
django-allauth
django-filter
django-widget-tweaks
opencv-python-headless
